#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-top: 10px;
    margin-bottom: 5px; /* Add some space below the input */
    margin-left: 75px;
}
