{% extends "base.html" %} {% block content %}

<style>
    h1 {padding-left: 100px;}
  
    a{padding-left:100px;}
    
</style>

<script>
let loadFile = function(event) {
        let image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
};
    
</script>
<div style ="display:inline-block">
    <a href = "/database"><button type="button">Back to Database</button></a>
    <a href = "/"><button type="button">Back to Predict</button></a>
</div>
<br>
<br>
<h1>Add Person's Face in Database</h1>
<br>

<div style="padding-left: 100px">
    <form action = "/addStatus" id="upload-database" method="post" enctype="multipart/form-data">
        <label for="personUpload" class="upload-label">
            Person Image
        </label>
        <br>
        <input type="file" name="image" id="personUpload" accept=".png, .jpg, .jpeg" onchange="loadFile(event)" >
        <br>
         <p><img id="output" width="300" /></p>
        <br>
        <label for="nameUpload" class="upload-label">
            Person Name
        </label><br>
        <input type="text" name="personName" id="nameUpload">
        <br> 
        <br>
        <input class="btn" type="submit" value = "Add">   
    </form>    
    </div>
    
    
</div>



{% endblock %}
