{% extends "base.html" %} {% block content %}

<style>
    /*h1 {padding-left: 50px;}
    div {
        padding-left: 50px;
    }*/
    button{
        border-radius: 10px;
        
    }
    
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>

let loadFile = function(event) {
        let image = document.getElementById('output');
        image.src = URL.createObjectURL(document.getElementById('personUpload').files[0]);
        $("#output").show();
        $("#output").height(300);
        $("#output").css("border","1px solid white");
};
$(document).ready(function () {
$('#btn').click (function() {
        var form_data = new FormData(document.getElementById('upload-database'));
        const request = new XMLHttpRequest();
        request.open('POST', '/addStatus');
        
        request.onload = () => {

              // Extract JSON data from request
              const data = JSON.parse(request.responseText);
              console.log("recived")
              // Update the result div
              document.querySelector('#result').innerHTML = data.result;

              document.querySelector('#result').style.display = "inline";
              $('#output').hide();
              document.querySelector('#nameUpload').value="";
              document.querySelector('#result').style.visibility = "visible";
              function showdiv(){
                document.querySelector('#result').style.visibility = "hidden";
              }
              
              setTimeout(showdiv,5000)
          }
        request.send(form_data);
        return false;
        
        
    });
});
    
</script>
<div style = "display:inline-block">
<a href = "/back_to_predict"><button style="background-color: coral; color:white; margin: 10px 25px; padding: 12px 30px;"type="button" class="w3-button w3-hover-shadow " > <i class="fa fa-arrow-left"></i>  Predict </button></a>
<a href = "/database" style="padding-left: 500px" ><button type="button"  style=" margin: 12px 30px; padding: 10px 25px; background-color: coral; color: white;" class="w3-button w3-hover-shadow ">  Database <i class="fa fa-arrow-right"></i>  </button></a>
</div>
<div style="text-align: center;">
<h1 style="color:white;font-family: serif; ">Add person's face in Database</h1>

    <form  id="upload-database" method="post" enctype="multipart/form-data">
        <label for="personUpload" class="upload-label">
            Person Image
        </label>
        
        <input type="file" name="image" id="personUpload" accept="image/*" onchange="loadFile(event)" >
        
         <p><img id="output" width="300" ></p>
        
        <label for="nameUpload" class="upload-label" >
            Person Name
        </label>
        <br>
        <input type="text" name="personName" id="nameUpload">
        
        <!--<input id="btn" type="submit" value = "Add"> --> 
    </form>    
    <div id="btn">
    <button type="button" style="background-color: coral;color:white;" class="w3-button w3-hover-shadow ">Add</button> 
    </div>
   
    <h2 id="result" style="visibility: visible; color:white; font-size: 2em"></h2>

</div>



{% endblock %}
