{% extends "base.html" %} {% block content %}

<style>
    

    
    
</style>
<!--<link href="{{ url_for('static', filename='css/data.css') }}" rel="stylesheet">-->   


<h3 style="color: white; text-align: center;">{{person.capitalize()}}</h3>

<div class="container"   >
	<div class="row">
{% for image_name in image_names %}
    <div class="col-3">
        <img width="150" height="150"  class="w3-hover-shadow" style=" margin: 10px; border: 1px solid white"src=" {{url_for('send_all_image', filename = image_name , person = person)}}" >
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}
